<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>store/6385995.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>store/about_noselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,695},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/about_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1007},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/addCoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1029},{490,514}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,514}</string>
			</dict>
			<key>store/back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1587,1904},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,72}</string>
			</dict>
			<key>store/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1963},{188,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,44}</string>
			</dict>
			<key>store/btn_list_noselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>store/btn_list_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,243},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>store/btnBuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1963},{200,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,56}</string>
			</dict>
			<key>store/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1029},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>
			<key>store/dau__.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,571},{640,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,122}</string>
			</dict>
			<key>store/download.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1545},{1000,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,207}</string>
			</dict>
			<key>store/duoi__.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1805},{640,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,97}</string>
			</dict>
			<key>store/ic_ads.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,1981},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>store/insertCoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{568,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,176}</string>
			</dict>
			<key>store/menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,1904},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>store/movie_play_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,1904},{180,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,126}</string>
			</dict>
			<key>store/mygame_noselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,695},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/mygame_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1273},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,961},{187,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,44}</string>
			</dict>
			<key>store/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1754},{1000,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,207}</string>
			</dict>
			<key>store/recent_noselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1539},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/recent_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,961},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/star_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>store/star_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,161},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>store/star_half.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,321},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>store/tem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,1904},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>store/Unknown copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,1963},{200,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,56}</string>
			</dict>
			<key>store/video-icon-crop.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,695},{315,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{315,236}</string>
			</dict>
			<key>store/watch_now.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1963},{289,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,63}</string>
			</dict>
			<key>store/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1963},{188,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,44}</string>
			</dict>
			<key>store/yeuthich_no_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,1227},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/yeuthich_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,1493},{261,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,264}</string>
			</dict>
			<key>store/reload.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,515},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>store/multiplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,1904},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>store/search.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,1},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>stores.png</string>
			<key>realTextureFileName</key>
			<string>stores.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>